{% extends 'main/layout.html' %}
{% block title %}
<h1>про нас</h1>
<p>про нас</p>
{% endblock %} 
{% block content %}
<div class="features">
    <h1>Про нас</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa suscipit
      dignissimos aut error excepturi possimus rem. Pariatur praesentium incidunt
      numquam dolor? Incidunt error obcaecati sint saepe exercitationem eos sit
      nulla!
    </p>
    <button class="btn btn-danger">Просто нажми</button>
  </div>
{% endblock %}
 
<!--при помощи include можно добавлять любой файл -->
